<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="aaronsoftech.in.nber">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWACCESS_FINE_LOCATIONORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/yellow_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/yellow_logo"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.Wallet_page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_one"
            ></activity>
        <activity
            android:name=".Activity.Show_Vehicle"
            android:theme="@style/AppTheme_one" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider> <!-- Add your API key here -->
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_qdUReWKfy2SE4Y" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" /> <!-- start service for FCM -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/nber_logo" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/yellow_600" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- start service for FCM -->
        <service android:name=".FCM.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FCM.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activity.Splash"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_one">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_one" />
        <activity
            android:name=".Activity.login_mobile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_one" />
        <activity
            android:name=".Activity.login_email"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_one" />
        <activity
            android:name=".Activity.Acc_setting"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_one" />
        <activity
            android:name=".Activity.Acc_edit"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_one" />
        <activity
            android:name=".Activity.Trip"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_one" />
        <activity
            android:name=".Activity.Select_payment"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_one" />
        <activity
            android:name=".Activity.Payment_add"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_one" />
        <activity
            android:name=".Activity.Payment_code"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_one" />
        <activity
            android:name=".Activity.Trip_free"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_one" />
        <activity
            android:name=".Activity.Password"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_one" />
        <activity
            android:name=".Activity.Privacy_setting"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_one" />
        <activity
            android:name=".Activity.Contacts"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_one" />
        <activity
            android:name=".Activity.Notification"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_one" />
        <activity
            android:name=".Activity.Help"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_one" />
        <activity
            android:name=".Activity.Register_mobile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_one" />
        <activity
            android:name=".Activity.Home"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_one">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aaronsoftech.in.nber.Activity.Home" />
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <!--
             <meta-data
             android:name="com.google.android.geo.API_KEY"
             android:value="@string/google_maps_key" />
        -->
        <activity
            android:name=".Activity.Social_Login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_one" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Activity.MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Verification"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.From_Location"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_one" />
        <activity
            android:name=".Activity.Driver_document"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Driver_photo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Driver_doc_Image"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Vehicle_reg"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_one" />
    </application>

</manifest>